{# Fallback for social sharing image and meta description, if no custom is defined #}
{% set featuredSocialUrl = "{{ site.url }}/assets/featured_fallback.png" %}
{% set metaDescription = "Twenty of Time is a blog on technology and our use of it. It follows up on interesting questions with well-researched articles on technology, society and digital rights." %}

<link rel="apple-touch-icon" sizes="180x180" href="/assets/site/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/site/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/site/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/site/favicons/site.webmanifest">
<link rel="mask-icon" href="/assets/site/favicons/safari-pinned-tab.svg" color="#e15a5a">
<link rel="shortcut icon" href="/assets/site/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#282d34">
<meta name="msapplication-config" content="/assets/site/favicons/browserconfig.xml">
<meta name="theme-color" content="#282d34">

<meta property="og:site_name" content="Twenty of Time" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
{% if page.heroimg %}
<meta property="og:image" content="{{ site.url }}{{ page.url }}social.png" />
{% else %}
<meta property="og:image" content="{{ site.url }}assets/site/social-fallback.png" />
{% endif %}
{% if page.intro %}
<meta property="og:description" content="{{ page.intro|raw }}" />
<meta name="description" content="{% if page.subtitle %}{{ page.subtitle }} - {% endif %}{{ page.intro|raw }}">
{% else %}
<meta property="og:description" content="{{ metaDescription|raw }}" />
<meta name="description" content="{{ metaDescription|raw }}">
{% endif %}

{# Authors #}
{% if page.author %}
{% for author in page.author %}
<meta property="article:author" content="{{ author.name }}" />
{% endfor %}
{% else %}
<meta property="article:author" content="Friso van Dijk" />
{% endif %}

{# Platform specific #}
<meta name="twitter:card" content="summary_large_image">

{# Analytics#}
<script>var _paq=_paq||[];_paq.push(["trackPageView"]),_paq.push(["enableLinkTracking"]),function(){var e="//frisovandijk.com/analytics/";_paq.push(["setTrackerUrl",e+"piwik.php"]),_paq.push(["setSiteId","2"]);var a=document,p=a.createElement("script"),t=a.getElementsByTagName("script")[0];p.type="text/javascript",p.async=!0,p.defer=!0,p.src=e+"piwik.js",t.parentNode.insertBefore(p,t)}()</script><noscript><p><img alt=""src="//frisovandijk.com/analytics/piwik.php?idsite=2&rec=1"style=border:0></p></noscript>